.section-color{
    background-color: var(--rose-white);
    height: fit-content;
    /* padding: 20px 0 ; */
}
.subcription-input-container{
    height: 247px;
    background: linear-gradient(to right, rgb(29, 22, 7) 10%, black 90%);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding: 10px 10px !important;
    position: relative;
    /* margin-bottom: 123.5px !important; */
    margin-bottom: 50px !important;
    /* width: 100%; */

}
.subcription-input-container::after{
    content: "";
    height: 225px;
    filter: blur(40px);
    width: 90%;
    display: block;
    position: absolute;
    z-index: -1;
    background: #2125254D;
    left: 50px;
    top: 77px;
    border-radius: 30px;
    display: none;

}
.sub-input{
    border: 1px solid #F8F8F8;
    /* width: 100vw; */
    height: 82px;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px 0px;
}
#subscribe{
    background-color: transparent;
    border: none;
    height: 69px;
    width: 80%;
    outline: none;
    color: #fff;
}
#subscribe::placeholder{
    padding-left: 20px;
}
#subscribe:focus{
    border: none;
}
.subscribe-btn{
    height: 3rem ;
    width: 4rem ;
    border: none;
    background-color: var(--yellow) !important;
    border-radius: 5px;
}
.subscribe-btn:hover{
    color: var(--yellow-light);
}
.subscribe-btn:active .sub-text{
    color: black;
}
.active{
    background-color: transparent;
}
.sub-icon{
    color: white;
    
}
.sub-text{
    display: none;
}
.footer-links-item a, .privacy-right a{
    color: var(--grey-4);
    text-decoration: none;
    display: flex;
    font-size: 20px;
    font-weight: 500;
}
.footer-icons-item a{
    color: var(--grey-4);
    text-decoration: none;
    display: flex;
    font-weight: 500;
    font-size: 32px;
}
.footer-links-item a:hover{
    color: var(--black);
}
.privacy-right a:hover{
    color: var(--black);
}
.footer-links-item, .privacy-right{
    margin-bottom: 34px;
}
.footer-bottom{
    position: relative;
}
.hr-divider,.copyright, .privacy-one{
    display: none;
}
.footer-icons{
    display: flex;
    position: absolute;
    bottom: -65%;
    /* margin-bottom: 20px; */
    /* padding: 10px; */
    justify-content: center;
}
 .footer-icons-item:not(:last-child){
    margin-right: 34px;
}
a i {
    transition: all 0.3s linear;
}
a:hover i {
    transform: scale(1.2);
}

.copyright{
    font-size: 12px;
}
@media screen and (max-width: 415px){
    .sub-input{
        position: relative;
    }
    .subscribe-btn{
        position: absolute;
        right: 5%; 
        top: 20%;
    }
    
}
@media screen and (max-width: 992px){
    .subcription-input-container h1{
        color: #fff;
        text-align: center;
        padding-top: 1.5rem;
        word-wrap: break-word;
        
    }
}
@media screen and (max-width: 994px){
    .sub-input{
        position: relative;
    }
    .subscribe-btn{
        position: absolute;
        right: 5%; 
        top: 20%;
    }
}
/* sm */
@media screen and (min-width: 576px) {
    .subcription-input-container::after{
        display: block;
    }
}
/* lg */
@media screen and (min-width: 992px){
    .section-color{
        background: #FBFBFB;
        ;
        /* height: 80vh; */
        padding: 108px 0 65px;
    }
	.subcription-input-container{
        height: 265px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 30px;
        padding: 76px 81px !important;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        margin-bottom: 123.5px !important;
    }
    .subcription-input-container h1{
        color: #fff;
        text-align: left;
        /* word-spacing: 12px; */
        align-items: center;
        letter-spacing: 2px;
        
    }
    .sub-input{
        border: 1px solid #F8F8F8;
        /* width: 550px; */
        height: 82px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 5px;
    }
    #subscribe{
        background-color: transparent;
        border: none;
        height: 69px;
        color: #fff;
        padding-left: 30px;
        outline: none;
    }
    #subscribe::placeholder{
        padding-left: 30px;
        
    }
    #subscribe:focus{
        border: 0;
    }
    .subscribe-btn{
        height: 4rem;
        width: 30%;
        border: none;
        background-color: var(--yellow);
        border-radius: 5px;
    }
    .sub-icon{
        display: none;
    }
    .sub-header h1{
        line-height: 51px;
        letter-spacing: normal;
        font-weight: 700;
    }
    .sub-text{
        display: inline-block;
        /* font-weight: bold; */
        letter-spacing: 2px;
    }
    .footer-links,.privacy{
        display: flex;
        
    }
    .footer-links-item, .privacy-right{
        margin-bottom:-20px;
    }
    .footer-links-item:not(:last-child), .privacy-right:not(:last-child){
        margin-right: 34px;
    }
    .privacy-right:not(:last-child){
        margin-right: 20px;
    }
    .footer-bottom{
        margin-bottom: 45.44px;
        position: relative;
    }
    
    .hr-divider,.copyright, .privacy-one{
        display: block;
    }
    .footer-icons{
        display: flex;
        position: static;
        justify-content: left;
    }
    .footer-icons-item > a > i{
        color: var(--grey-4);
        text-decoration: none;
        display: flex;
        font-weight: 500;
        font-size: 16px;
    }
    .footer-links-item a, .footer-icons-item a, .privacy-right a{
        color: var(--grey-4);
        text-decoration: none;
        display: flex;
        font-size: 13px !important;
        font-weight: 500;
    }
    


}
/* xl */
@media screen and (min-width: 1200px) {
    .privacy-right:not(:last-child){
        margin-right: 34px;
    }
}
/* xxl */
@media screen and (min-width: 1400px) {
    .sub-input{
        border: 1px solid #F8F8F8;
        width: 550px;
        height: 82px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 5px;
    }
}