.hero-header{
    width: calc(100% - 50px);
    text-align: center;
    font-size: var(--header-2-mobile);
    font-weight: 700;
    line-height: 45px;
    margin: 236px auto 0;
}
.hero-header ~ p{
    width: calc(100% - 50px);
    text-align: center !important;
    font-weight: 500;
    line-height: 25px;
    margin: 20px auto;
    color: var(--grey-2);
    font-size: var(--mobile-paragaph);
}
.programs-btns{
    /* height: 80px; */
    width: 100%;
    border-radius: 20px;
    padding: 25px 20px;
    margin-bottom: 20px;
}
.menu-btn{
    background-color: var(--grey-6);
    height: 55px;
    /* width: 221.76315307617188px; */
    border-radius: 100px;
    /* padding: 10px, 20px, 10px, 20px; */
    margin-bottom: 10px;
    outline: none;
    border: none;
    /* width: 32.2%; */
    width: fit-content;
    box-shadow: none;
}
.menu-btn:not(:last-child){
    margin-right: 10px;
}
.menu-btn:focus{
    box-shadow: none;
}
.filter-btn,.program-item{
    display: flex;
    align-items: center;
}
.btn-active{
    box-shadow: 10px 9px 32px 0px #FFC20082 !important;
    background-color: var(--yellow) !important;
    position: relative;
    z-index: 2;
    /* outline: none;
    border: none; */

}
.prog-icon{
    margin-right: 10px;
    padding: 5px;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prog-icon:nth-child(3){
    height: 0;
    width: 0;
    border-radius: 0;
}
/* .prog-container .col-lg-4{
    width: fit-content;
} */
.card-poster-container{
    min-height: 286px!important;
    width: 100%;
    background-color:#EBE9E9 ;
    border-radius: 10px;
}
.grey-text{
    color: #EBE9E9;
}
.card-poster-container img{
    width: 100%;
    border-radius: 10px;
}
/* .course-title{
    font-size: auto;
} */
.prog-item{
    min-height: 573.564697265625px;
    /* width: 393px; */
    border-radius: 10px;
    padding: 16px;
    background-color: #fff;
}
.prog-item:hover{
    box-shadow: var(--light-shadow);   
}

.prog-cta{
    height: 56px;
/* width: 361px; */
    left: 16px;
    top: 501.564697265625px;
    border-radius: 8.500057220458984px;
    /* padding: 16px 113px 16px 113px; */
    transition: var(--transition);
    border: none;
}
.prog-cta:hover{
    background-color:var(--yellow);
}
/* sm */
@media screen and (min-width: 576px){
    .programs-btns{
        padding: 30px 32px;
    }
}
/* md */
@media screen and (min-width: 768px){
    
}
/* lg */
@media screen and (min-width: 992px){
    .hero-header{
        width: calc(100% - 50px);
        text-align: center;
        font-size: var(--header-2);
        font-weight: 700;
        line-height: 65px;
        margin: 236px auto 0;
    }
    .hero-header ~ p{
        width: calc(100% - 50px);
        text-align: center !important;
        font-size: 22px;
        font-weight: 500;
        line-height: 33px;
        letter-spacing: 0em;
        margin: 20px auto;
        color: var(--grey-2);
    }
    .programs-btns{
        /* height: 108px; */
        /* width: 793.76318359375px; */
        width: fit-content;
        border-radius: 20px;
        padding: 20px;
    
    }
    .menu-btn{
        background-color: var(--grey-6);
        height: 67px;
        /* width: 221.76315307617188px; */
        width: fit-content;
        border-radius: 100px;
        padding: 10px 30px 10px 30px;
        outline: none;
       
    
    }
    .menu-btn:not(:last-child){
        margin-right: 10px;
    }
    .prog-container .col-lg-4{
        width: fit-content;
    }
    .prog-item img{
        width: 100%;
    }
    .prog-item{
        height: 573.564697265625px;
        width: 393px;
        border-radius: 10px;
        padding: 16px;
        background-color: #fff;
    }
    .prog-item:hover{
        box-shadow: var(--light-shadow);   
    }
    
    .prog-cta{
        height: 56px;
    /* width: 361px; */
        left: 16px;
        top: 501.564697265625px;
        border-radius: 8.500057220458984px;
        padding: 16px 113px 16px 113px;
        transition: var(--transition)
    }
    .prog-cta:hover{
        background-color:var(--yellow);
        border: none;
    }
}
/* xl */
@media screen and (min-width: 1200px){
    .programs-btns{
        /* height: 108px; */
        /* width: 793.76318359375px; */
        width: fit-content;
        border-radius: 100px;
        padding: 20px;
    
    }

}
/* xxl */
@media screen and (min-width: 1400px){
   
}